.app-container {
  background: linear-gradient(0.4turn, black, black, grey);
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px 20px;

}

.content-container {
  background: linear-gradient(0.4turn, black, black, grey);
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px 20px;
}